.in-btn {
  width: 100px;
  height: 25%;
  font-family: 'Product Sans Regular';
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');
}

.btn-forward{
  height: 80px;
  width: 150px;
  background-color: white;
  border: 5px solid #000000;
  position: relative;
  cursor: pointer;
  font-family: 'Product Sans Regular', sans-serif;
  src: local('Product Sans Regular'), url('/fonts/ProductSans-Regular.woff') format('woff');  
}

.btn-forward:before,
.btn-forward:after{
  content: "";
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #000000;
  border: 5px solid rgb(255, 254, 254);
  transition: 0.3s;
}

.btn-forward:before{
  bottom: -15px;
  left: -15px;
  z-index: -1;
}

.btn-forward:after{
  content: attr(data-text);
  color: #ffffff;
  font-size: 22px;
  letter-spacing: 3px;
  display: grid;
  place-items: center;
  top: -15px;
  right: -15px;
  z-index: 1;
}

.btn-forward:hover:before{
  bottom: -5px;
  left: -5px;
}

.btn-forward:hover:after{
  top: -5px;
  right: -5px;
  background-color: #f3f7fa;
  color: #000000;
}
